body{
    text-align: center;
    background-color:darkgrey;
    margin: 40px;
    
}

h1{
    font-size: ;
    text-shadow: ;
    margin: 30px;
    margin-bottom: 100px;
}

.drums{
    
}

button{
    margin: 10px;
}